::-webkit-scrollbar {
    border-radius: 100px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }